@model JiuBa.Models.Post

@{ 
	ViewBag.Title = "帖子详情";
	Layout = "~/Views/_UserIndexLayout.cshtml";
}
<div class="container">
	<h3>帖子详情</h3>
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="pull-right" onclick="user_shouchang(@Model.PostId)"><span class="glyphicon glyphicon-bookmark pull-right"></span>添加收藏</div>
			@Html.Action("GetUsersById", "UserPost", new { id = Model.UserId })
		</div>
		<div class="panel-body">
			<div>
				<div>@Model.PostText</div>
			</div>
		</div>
		<div class="panel-body">
			@Html.Action("GetPostImgById", "UserPost", new { id = Model.PostId })
		</div>

		<div class="panel-footer">
			<div class="container-fluid">
				<label class="pull-left">
					分类:
					@Html.Action("GetModelById", "UserPost", new { id = Model.ModelId })
					&nbsp;	&nbsp;	&nbsp;
				</label>
				<span class="pull-left">发布时间： @Model.PostTime</span>
				<span class=" pull-right">
					<span class="glyphicon glyphicon-eye-open" title="浏览量"> @Model.PostCount</span>
				</span>
				<span class=" pull-right">
					<span class="glyphicon glyphicon-comment " title="评论">
						@Html.Action("GetPostCommentsById", "UserPost", new { id = Model.PostId })
						&nbsp;
					</span>
				</span>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="container">
			<div class="pull-right">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">
					评论
				</button>
				<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h3>留下足迹<span class="glyphicon glyphicon-pencil"></span></h3>
							</div>
							<div class="modal-body">
								<textarea rows="6" class="form-control" id="userping_text"></textarea>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
								<button type="button" class="btn btn-primary" onclick="user_ping(@Model.PostId)">发表</button>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
		<div class="container"><label>评论：</label></div>
	</div>
</div>
<div class="container" id="post_show_content">
	@Html.Action("GetPostCommentsAll", "UserPost", new { id = Model.PostId })

</div>
<div id="bottom-index" class="text-center"></div>
<script type="text/javascript">
	//发起评论
	function user_ping(id) {
		var PostCommentsText = $("#userping_text").val();
		if (PostCommentsText != "") {
			//发起请求添加评论
			$.ajax({
				url: "/UserPost/AddPostBrowse",
				type: "post",
				data: { "PostCommentsText": PostCommentsText, "PostId": id },
				success: function (e) {
					if (e == "true") {
						window.location.href = "/UserPost/GetPostXaingQingById?id=" + id;
					} else {
						alert(e);
					}
				}
			});
		} else {
			alert("请填写评论内容");
		}
	}
</script>
@*滚动加载评论*@
<script type="text/javascript">
	//封装窗体滚动条事件
	function getpost() {
		var showimg = document.getElementById('bottom-index');
		var scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
		var winTop = window.innerHeight;
		if (showimg.offsetTop < scrollTop + winTop) {

			$.ajax({
				url: "/UserPost/LanGetPostCommentsAll",
				type: "get",
				data: {"id":@Model.PostId},
				success: function (e) {
					if (e != "false") {
						$("#post_show_content").append(e);
					}
					else {
						$("#bottom-index").text("我可是有底线的( •̀ ω •́ )y");
						window.removeEventListener("scroll", getpost, true);
					}

				}

			});

		} 

	}
	window.onload = function () {
		//添加 窗体滚动事件
		window.addEventListener("scroll", getpost, true);
	}
</script>

